footer(id="footer")
    div(class="section")
        div(class="container")
            div(class="row")
                div(class="col-md-3 col-xs-6")
                    div(class="footer")
                        h3(class="footer-title") About Us
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
                            ul(class="footer-links")
                                li
                                    a(href="#")
                                        i(class="fa fa-map-marker") 1734 Stonecoal Road
                                li
                                    a(href="#")
                                        i(class="fa fa-phone")  +021-95-51-84
                                li
                                    a(href="#")
                                            i(class="fa fa-envelope-o") email@email.com
                div(class="col-md-3 col-xs-6")
                    div(class="footer")
                        h3(class="footer-title") Categories
                        ul(class="footer-links")
                            li
                                a(href="#") Hot deals
                            li
                                a(href="#") Laptops
                            li
                                a(href="#") Smartphones
                            li
                                a(href="#") Cameras
                            li
                                a(href="#") Accessories

                div(class="clearfix visible-xs")
                div(class="col-md-3 col-xs-6")
                    div(class="footer")
                        h3(class="footer-title") Information
                        ul(class="footer-links")
                            li
                                a(href="#") About Us
                            li
                                a(href="#") Contact Us
                            li
                                a(href="#") Privacy Policy
                            li
                                a(href="#") Orders and Returns
                            li
                                a(href="#") Terms & Conditions
                div(class="col-md-3 col-xs-6")
                    div(class="footer")
                        h3(class="footer-title") Service
                        ul(class="footer-links")
                            li
                                a(href="#") My Account
                            li
                                a(href="#") View Cart
                            li
                                a(href="#") Wishlist
                            li
                                a(href="#") Track My Order
                            li
                                a(href="#") Help
    div(id="bottom-footer" class="section")
        div(class="container")
            div(class="row")
                div(class="col-md-12 text-center")
                    ul(class="footer-payments")
                        li
                            a(href="#")
                                i(class="fa fa-cc-visa")
                        li
                            a(href="#")
                                i(class="fa fa-credit-card")
                        li
                            a(href="#")
                                i(class="fa fa-cc-paypal")
                        li
                            a(href="#")
                                i(class="fa fa-cc-mastercard")
                        li
                            a(href="#")
                                i(class="fa fa-cc-discover")
                        li
                            a(href="#")
                                i(class="fa fa-cc-amex")
                    span(class="copyright")

script(src="js/jquery.min.js")
script(src="js/bootstrap.min.js")
script(src="js/slick.min.js")
script(src="js/nouislider.min.js")
script(src="js/jquery.zoom.min.js")
script(src="js/main.js")