include  header
div(class="section")
    div(class="container")
        div(class="row")
            div(class="col-md-4 col-xs-6")
                div(class="shop")
                    div(class="shop-img")
                        img(src="./img/shop01.png" alt="")
                    div(class="shop-body")
                        h3 Laptop Collection
                        a(href="#" class="cta-btn")Shop now
|                           <i class="fa fa-arrow-circle-right"></i>
            div(class="col-md-4 col-xs-6")
                div(class="shop")
                    div class="shop-img">
                        img(src="./img/shop03.png" alt="")
                    div(class="shop-body")
                        h3 Accessories
|                        Collection
                        a(href="#" class="cta-btn")Shop now
|                           <i class="fa fa-arrow-circle-right"></i>

            div(class="col-md-4 col-xs-6")
                div(class="shop")
                    div(class="shop-img")
                        img(src="./img/shop02.png" alt="")
                    div(class="shop-body")
                        h3 Cameras
|                        Collection<
                        a(href="#" class="cta-btn") Shop now
|                           <i class="fa fa-arrow-circle-right"></i>
div(class="section")
    div(class="container")
        div(class="row")
            div(class="col-md-12")
                div class="section-title"
                    h3(class="title")New Products
                        div(class="section-nav")
                            ul(class="section-tab-nav tab-nav")
                                li(class="active")
                                    a(data-toggle="tab" href="#tab1")Laptops
                                li
                                    a(data-toggle="tab" href="#tab1")Smartphones
                                li
                                    a(data-toggle="tab" href="#tab1")Cameras
                                li
                                    a(data-toggle="tab" href="#tab1")Accessories
            div(class="col-md-12")
                div(class="row")
                    div(class="products-tabs")
                        div(id="tab1" class="tab-pane active")
                            div(class="products-slick" data-nav="#slick-nav-1")
                                //each
                                div(class="product")
                                    div(class="product-img")
                                        img(src="./img/product01.png" alt="")
                                            div(class="product-label")
                                                //span(class="sale")-30%
                                                span(class="new")NEW
                                    div(class="product-body")
                                        p(class="product-category")Category
                                            h3(class="product-name")
                                                a(href="#")product name goes here
                                            h4(class="product-price")980
                                        div(class="product-rating")
                                            i(class="fa fa-star")
                                            i(class="fa fa-star")
                                            i(class="fa fa-star")
                                            i(class="fa fa-star")
                                            i(class="fa fa-star")
                                        div(class="product-btns")
                                        button(class="add-to-wishlist")
                                            i(class="fa fa-heart-o")
                                            span(class="tooltipp")add to wishlist
                                        button(class="add-to-compare")
                                            i(class="fa fa-exchange")
                                            span(class="tooltipp")add to compare
                                        button(class="quick-view")
                                            i(class="fa fa-eye")
                                            span(class="tooltipp")quick view
                                    div(class="add-to-cart")
                                        button(class="add-to-cart-btn")
                                            i(class="fa fa-shopping-cart") add to cart
                            div(id="slick-nav-1" class="products-slick-nav")
div(id="hot-deal" class="section")
    div(class="container")
        div(class="row")
            div(class="col-md-12")
                div(class="hot-deal")
                    ul(class="hot-deal-countdown")
                        li
                            div
                                h3 02
                                span Days
                        li
                            div
                                h3 10
                                    span Hours
                        li
                            div
                                h3 34
                                span Mins
                        li
                            div
                                h3 60
                                span Secs
                    h2(class="text-uppercase")hot deal this week
                    p New Collection Up to 50% OFF
                    a(class="primary-btn cta-btn" href="#")Shop now
div(class="section")
    div(class="container")
        div(class="row")
        div(class="col-md-12")
            div(class="section-title")
                h3(class="title")Top selling
                    div( class="section-nav")
                    ul(class="section-tab-nav tab-nav")
                        li(class="active")
                            a(data-toggle="tab" href="#tab2")Laptops
                        li
                            a(data-toggle="tab" href="#tab2")Smartphones
                        li
                            a(data-toggle="tab" href="#tab2")Cameras
                        a(data-toggle="tab" href="#tab2")Accessories
            div(class="col-md-12")
                div(class="row")
                    div(class="products-tabs")
                        div(id="tab2" class="tab-pane fade in active")
                            div(class="products-slick" data-nav="#slick-nav-2")
                                //each
                                div(class="product")
                                    div(class="product-img")
                                        img(src="./img/product06.png" alt="")
                                    div(class="product-label")
                                        span(class="sale")-30%
                                        span(class="new")NEW
                                    div(class="product-body")
                                        p(class="product-category")Category
                                        h3(class="product-name")
                                            a(href="#")product name goes here
                                        h4(class="product-price") 980.00
                                            del(class="product-old-price") 990.00
                                        div(class="product-rating")
                                            i(class="fa fa-star")
                                            i(class="fa fa-star")
                                            i(class="fa fa-star")
                                            i(class="fa fa-star")
                                            i(class="fa fa-star")
                                        div(class="product-btns")
                                            button(class="add-to-wishlist")
                                                i(class="fa fa-heart-o")
                                                span(class="tooltipp")add to wishlist
                                            button(class="add-to-compare")
                                                i(class="fa fa-exchange")
                                                span(class="tooltipp")add to compare
                                            button(class="quick-view")
                                                i(class="fa fa-eye")
                                                span(class="tooltipp")quick view
                                    div(class="add-to-cart")
                                        button(class="add-to-cart-btn")
                                            i(class="fa fa-shopping-cart")add to cart

div(class="section")
    div(class="container")
        div(class="row")
            div(class="col-md-4 col-xs-6")
                div(class="section-title")
                    h4(class="title")Top selling
                    div(class="section-nav")
                        div(id="slick-nav-3" class="products-slick-nav")
                    div(class="products-widget-slick" data-nav="#slick-nav-3")
                        //each
                        div(class="product-widget")
                            div(class="product-img")
                                img(src="./img/product07.png" alt="")
                            div(class="product-body")
                                p(class="product-category")Category
                                h3(class="product-name")
                                    a(href="#")product name goes here
                                    h4(class="product-price")980
                                        del(class="product-old-price")990
            div(class="col-md-4 col-xs-6")
                div(class="section-title")
                    h4(class="title")Top selling
                    div(class="section-nav")
                        div(id="slick-nav-4" class="products-slick-nav")
                div(class="products-widget-slick" data-nav="#slick-nav-4")
                    div
                        // each
                        div(class="product-widget")
                            div(class="product-img")
                                img(src="./img/product04.png" alt="")
                            div(class="product-body")
                                p(class="product-category")Category
                                h3(class="product-name")
                                    a(href="#")product name goes here
                                h4(class="product-price")980
                                    del(class="product-old-price")990
            div(class="clearfix visible-sm visible-xs")
            div(class="col-md-4 col-xs-6")
                div(class="section-title")
                    h4(class="title")Top selling
                    div(class="section-nav")
                        div(id="slick-nav-5" class="products-slick-nav")
                div(class="products-widget-slick" data-nav="#slick-nav-5")
                    div
                        //each
                        div(class="product-widget")
                            div(class="product-img")
                                img(src="./img/product01.png" alt="")
                            div(class="product-body")
                                p(class="product-category")Category
                                h3(class="product-name")
                                    a(href="#")product name goes here
                                h4(class="product-price")980
                                    del(class="product-old-price")990
div(id="newsletter" class="section")
    div(class="container")
        div(class="row")
            div(class="col-md-12")
                div(class="newsletter")
                    p Sign Up for the
                        strong NEWSLETTER
                    form
                        input(class="input" type="email" placeholder="Enter Your Email")
                        button(class="newsletter-btn") #[i class="fa fa-envelope"] Subscribe
                    ul(class="newsletter-follow")
                        li
                            a(href="#")
                                i(class="fa fa-facebook")
                        li
                            a(href="#")
                                i(class="fa fa-twitter")
                        li
                            a(href="#")
                                i(class="fa fa-instagram")
                        li
                            a(href="#")
                                i(class="fa fa-pinterest")
include footer